/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-image: url(.//AdobeStock_133617244_Preview.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

/* Estilo para o formulário */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo para o título do formulário */
form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilo para o botão de submit */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #cef521;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
/* Estilo para o placeholder */
input::placeholder {
    color: #888;
}
/* Responsividade para telas menores */
@media (max-width: 480px) {
    form {
        width: 90%;
    }
}