/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte padrão para a página */
body {
    font-family: 'Arial', sans-serif;
    background-color: goldenrod;
    display: flex;

    height: 100vh;
}

/*Estilo do formulário*/
.login {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/*Estilo dos labels*/
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #555;
}

/*Estilo dos campos de entrada*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: #4CAF50;
}

/*Estilo do botão de envio*/
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*Responsividade*/
@media screen and (max-width: 400px) {
    form {
        width: 90%;
    }

    h3 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}

/*Home.html*/
.navbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #333;
    align-items: center;
    padding: 1rem;
}
